.forgot-container {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f4f6;
  padding: 20px;
  border-radius: 25px;
  margin-top: 30px;
}

.forgot-form {
  width: 350px;
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.forgot-form h2 {
  text-align: center;
  margin-bottom: 15px;
  color: #222;
  font-size: 24px;
}

.forgot-form label {
  font-size: 14px;
  color: #444;
}

.input-box {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  margin-bottom: 18px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 15px;
}

.input-box:focus {
  border-color: #2563eb;
  box-shadow: 0 0 3px rgba(37, 99, 235, 0.4);
}
.btnn {
  width: 100%;
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}


.btnn:hover {
  background: #1d4ed8;
}

/* Responsive */
@media (max-width: 375px) {
  .forgot-form {
    width: 90%;
    padding: 20px;
  }

  .forgot-form h2 {
    font-size: 20px;
  }

  .input-box,
  .btn {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .forgot-form {
    width: 90%;
    padding: 22px;
  }
}

@media (max-width: 768px) {
  .forgot-container {
    height: auto;
    padding: 40px 20px;
  }
}

